/* Email css goes here. Keep it simple and bear in mind what css is supported: http://www.campaignmonitor.com/css/ They will be autoamtically applied to elements as inline style attributes. Obviously you won't want to include this file in the files.csv */
* {
	margin:0;
	padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

.bpe_image.Circular .circularwrap {
	display:inline-block;
	border-radius:1000px;
	overflow:hidden;
}
img {
	max-width: 100%;
	display:block;
	height:auto;
}
img.scaff { height:1px !important; }
.bpe_image.Centered img ,
.social-links img  {
display:inline;
}
.collapse {
	margin:0;
	padding:0;
}
.align-right {text-align:right; }
body {
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
	width:100% !important;
}
#unsub {
	color:#717171;
	font-size:12px;
	text-align:center;
	margin:4px 0 5px;
}
#webversion {
	color:#717171;
	font-size:12px;
	text-align:center;
	margin:0px 0 5px;
	padding-top:4px;
}
#webversion a,#unsub a {
	color:#717171;
}
a { color: #2BA6CB;}


.Button_Large {
	margin-top: 30px;
}
.Button_Medium {
	margin-top: 10px;
}
.Button_Small {
	margin-top: 5px;
}
.Button_Large a,.Button_Medium a,.Button_Small a {
	text-decoration:none;
	color: #FFF;
	background-color: #345091;
	padding:14px 26px;
	font-weight:bold;
	margin-right:10px;
	margin-bottom:30px;
	text-align:center;
	cursor:pointer;
	display: inline-block;
	font-size: 18px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.rounded .Button_Large a,.rounded .Button_Medium a,.rounded .Button_Small a {
	border-radius: 3px;
}
.cols .Button_Large a,.cols .Button_Medium a,.cols .Button_Small a  {
	display:block;
}
.Button_Medium a{
	font-size:13px;
	padding:5px 13px;
}
.Button_Small a {
	font-size:12px;
	padding:3px 10px;
}
.main .Button_Large a,.main .Button_Medium a,.main .Button_Small a {
	background:#fff;
	color:#345091;
}
.bpe_image {
  margin-bottom:10px;
}
.Centered,
.align-center {
  text-align:center;
}
.Right_Image {
  float:right;
  margin-bottom:18px;
  margin-left:15px;
  max-width: 100%;
  clear:right;
}
.Left_Image {
  float:left;
  margin-bottom:18px;
  margin-right:15px;
  max-width: 100%;
  clear:left;
}


.btn {
	text-decoration:none;
	color: #FFF;
	background-color: #666;
	padding:10px 16px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	cursor:pointer;
	display: inline-block;
}
p.Callout {
	padding:15px;
	background-color:#ECF8FF;
	margin-bottom: 15px;
}
.Callout a {
	font-weight:bold;
	color: #2BA6CB;
}

.social .soc-btn {
	padding: 3px 7px;
	font-size:12px;
	margin-bottom:10px;
	text-decoration:none;
	color: #FFF;font-weight:bold;
	display:block;
	text-align:center;
}
a.fb { background-color: #3B5998!important; }
a.tw { background-color: #1daced!important; }
a.gp { background-color: #DB4A39!important; }
a.ms { background-color: #000!important; }
.sidebar .soc-btn {
	display:block;
	width:100%;
}
.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}

.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:12px; color:#000;
}
.bpe_table { margin-bottom: 15px; } 
.bpe_table th { background:#777; color:#fff; font-size:13px; padding:5px 10px; border:1px solid #fff; }
.bpe_table td { background:#d8d8d8; font-size:13px; padding:5px 10px; border:1px solid #fff; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }
h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}
p, ul {
	margin-bottom: 10px;
	font-weight: normal;
	font-size:14px;
	line-height:1.6;
	margin-top:0px;
	word-wrap: break-word;   
    overflow-wrap: break-word;
    word-break: break-word;
}
p.blog_date { margin-top:-8px; opacity:0.5;font-size:12px;text-transform:uppercase }
p.Lead_Paragraph { font-size:17px; }
p.Lead_Paragraph { margin-bottom:0px;}
ul li {
	margin-left:5px;
	list-style-position: inside;
	word-wrap: break-word;   
    overflow-wrap: break-word;
    word-break: break-word;
}
.hr {
	border-top:2px solid rgb(185, 185, 185);
	margin:0px 0 20px;
}
.hr.invisible {
	border-top:0px;
}
.container {
	padding:20px 20px 10px;
}
.deviceWidth { margin:0 auto; }
.content table { width: 100%; }
.column {
	width: 300px;
	float:left;
}
.column tr td { padding: 15px; }
.column-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.column table { width:100%;}
.social .column {
	width: 270px;
	min-width: 270px;
	float:left;
}
.clear { display: block; clear: both; }
