
	.Icon_Tick
	,.Icon_Blocked
	,.Icon_Info
	,.Icon_Question
	,.Icon_Alert
	,.stock.warning
	,.Icon_Phone
	,.Icon_Email
	,.Icon_Home
	,.Icon_Livechat
	 {
		position: relative;
	}

	.Icon_Tick:before
	,.Icon_Blocked:before
	,.Icon_Info:before
	,.Icon_Question:before
	,.Icon_Alert:before
	,.stock.warning:before
	,.Icon_Phone:before
	,.Icon_Email:before
	,.Icon_Home:before
	,.Icon_Livechat:before {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: "icomoon";
		font-size: 120%;
	}
	.Icon_Tick:before {
		content:"y";
	}
	.Icon_Blocked:before {
		content:"b";
	}
	.Icon_Info:before {
		content:"i";
	}
	.Icon_Question:before {
		content:"?";
	}
	.Icon_Alert:before
	,.stock.warning:before {
		content:"!";
	}
	.Icon_Phone:before {
		content:"P";
	}
	.Icon_Email:before {
		content:"E";
	}
	.Icon_Home:before {
		content:"H";
	}
	.Icon_Livechat:before {
		content:"C";
		font-size: 110%;
	}

	.Icon_Tick {
		padding:4px;
		background: #e9ffd8;
		border-radius:2px;
	 	-moz-border-radius:2px;
	 	-webkit-border-radius:2px;
	}
	.Icon_Blocked {
		padding:4px;
		background: #ffefe7;
		border-radius:2px;
	 	-moz-border-radius:2px;
	 	-webkit-border-radius:2px;
	}
	.Icon_Info {
		padding:4px;
		background: #fffce5;
		border-radius:2px;
	 	-moz-border-radius:2px;
	 	-webkit-border-radius:2px;
	}
	.Icon_Question {
		padding:4px;
		background: #e5fff6;
		border-radius:2px;
	 	-moz-border-radius:2px;
	 	-webkit-border-radius:2px;
	}
	.Icon_Alert
	,.stock.warning{
		padding:4px;
		color: #810012;
	}

	p.Icon_Tick:before
	,p.Icon_Blocked:before
	,p.Icon_Info:before
	,p.Icon_Question:before
	,p.Icon_Alert:before
	,p.Icon_Phone:before
	,p.Icon_Email:before
	,p.Icon_Livechat:before
	,p.Icon_Home:before
	,span.stock.warning:before 
	,li.Icon_Tick:before
	,li.Icon_Blocked:before
	,li.Icon_Info:before
	,li.Icon_Question:before
	,li.Icon_Alert:before 
	,li.Icon_Phone:before
	,li.Icon_Email:before
	,li.Icon_Livechat:before
	,li.Icon_Home:before
	,h4.Icon_Tick:before
	,h4.Icon_Blocked:before
	,h4.Icon_Info:before
	,h4.Icon_Question:before
	,h4.Icon_Alert:before
	,h4.Icon_Phone:before
	,h4.Icon_Email:before
	,h4.Icon_Livechat:before
	,h4.Icon_Home:before
	{
		display: inline-block;
		margin-right:5px;
		position: relative;
		top:2px;
	}
	h1.Icon_Tick:before
	,h1.Icon_Blocked:before
	,h1.Icon_Info:before
	,h1.Icon_Question:before
	,h1.Icon_Alert:before
	,h1.Icon_Phone:before
	,h1.Icon_Email:before
	,h1.Icon_Home:before
	,h1.Icon_Livechat:before
	,h2.Icon_Tick:before
	,h2.Icon_Blocked:before
	,h2.Icon_Info:before
	,h2.Icon_Question:before
	,h2.Icon_Alert:before
	,h2.Icon_Phone:before
	,h2.Icon_Email:before
	,h2.Icon_Home:before
	,h2.Icon_Livechat:before
	,h3.Icon_Tick:before
	,h3.Icon_Blocked:before
	,h3.Icon_Info:before
	,h3.Icon_Question:before
	,h3.Icon_Alert:before
	,h3.Icon_Phone:before
	,h3.Icon_Email:before
	,h3.Icon_Home:before
	,h3.Icon_Livechat:before
	 {
		display: block;
		font-size: 150%;
		line-height: 100%;
	}