.callout {
	padding:15px 15px 15px;
	background: #fff89c;
	border-top:3px solid #888;
	margin-bottom: 30px;
}
.rounded .callout {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.callout:last-child {
	margin-bottom:0;
}
.callout .button a,
.callout .Button_Small a,
.callout .Button_Medium a,
.callout .Button_Large a,
.callout button,
.callout input[type="submit"],
.callout input[type="reset"],
.callout input[type="button"]
{
	background: #444;
	color:#fff;
}
