#popupMessageBox {
	display:none;
}
#popupMessageBoxPopup {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	z-index:10000;
}
#popupMessageBoxPopupCenter {
	max-width:500px;
	margin:0 auto;
	position:relative;
	height:100%;

}
#popupMessageBoxPopupBox {
	background:#fff;
	padding:25px 20px 20px;
	max-height:90%;
	overflow:auto;
	position:absolute;
	box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	top:50%;
	width:100%;
	-moz-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.rounded #popupMessageBoxPopupBox {
	border-radius:5px;
}
#closePopupBox {
	cursor:pointer;
	position:absolute;
	top:5px;
	right:5px;
	background:#ccc;
	width:30px;
	height:30px;
	text-align:center;
}
.rounded #closePopupBox {
	border-radius:30px;
}
#closePopupBox:after {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "icomoon";
	line-height:30px;
	font-size: 15px;
	content:"X";
}
#popupMessageOnClickContent {
	display:none;
}
